/* CSS Document */
*{outline:none}
body{font-family:arial; font-size:14px; background:url(../images/bg.jpg)  repeat-x center top fixed; margin:0px; padding:0px;}

@font-face {
 font-family: 'give_you_glory';
 src: url('fonts/give_you_glory.eot');
 src: local('?'), url('fonts/give_you_glory.woff') format('woff'), url('fonts/give_you_glory.ttf') format('truetype'), url('fonts/give_you_glory.svg#webfontqkVHWc6b') format('svg');
 font-weight: normal;
 font-style: normal;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

h3, h4 { color:#4025d9;font-family: 'Give You Glory'; font-size:23px; font-weight:normal; }

.bg2{ background:url(../images/bg2.jpg) repeat-x top left;}
#header{ width:1087px; margin:auto; background:url(../images/jenny-header.png) no-repeat left top; height:215px;}
.head-top{ height:114px;}
.logo{ margin-left:153px; padding-top:8px; float:left;}
.logo img{ border:0px;}
.content{}
.content2{ float:left;}
#container{}
.head{ float:right; padding-top:20px;}
.tagline{ color:#000000; padding-top:38px;}
.social-icons{ width:300px; *width:330px;}
.social-icons img{ border:none; margin:0px 2px;}
.social-icons h2{ float:left; margin:0px; font-family: 'Give You Glory';}
.social-icons h2 span{ color:#4025d9;}
.menu{ margin-left:170px;}
.menu ul{ margin:0px; padding:0px;}
.menu ul li{ list-style:none; float:left;}
.menu ul li a{ color:#4025d9; text-decoration:none; font-size:15.5px; padding:10px 12px 23px; background:url(../images/seprator.png) no-repeat right bottom;}
.menu ul li a:hover{ color:#000000;}
#wrapper{ width:1024px; margin:auto;}
#wrapper h1{	background: url(../images/r-head.png) no-repeat left center;
margin: 0px;
font-size: 14px;
color: #4025D9;
padding: 12px 12px 12px 6px;
text-align: left;
font-family: arial;
font-weight: bold;	}
.content{ padding-top:15px; float:left;margin-top:70px;}
.block1{ background:url(../images/m-center.png) repeat-y top center; padding-bottom:5px; min-height:90px; width:1039px;}
.m-top{ /*background:url(../images/m-top.png) top center no-repeat;*/ height:21px; position:relative; *margin-bottom:-3px; }
.m-btm{ /*background:url(../images/m-btm.png) bottom center no-repeat;*/ height:24px;}
.heading{ float:left; width:512px;}
h1.head-title{ margin:-39px 0 0; * margin:-30px 0 0;  color:#242424;   font-family: 'Give You Glory'; font-size:18px; font-weight:lighter; float:left; padding-left:10px; background:url(../images/h-right.png) no-repeat right center; padding:5px 35px 5px 0px;}
h1.head-title span{ color:#4025d9; background:url(../images/h-left.png) no-repeat left center; padding:5px 0px 5px 13px;}
.mail{ padding-left:10px; width:500px; float:left;}
.mail-mod{ width:500px; margin-top:25px;}
.events a{ color:#4025D9;}
.events a:hover{color:#303030;}
.events{ background:url(../images/mail-div.png) no-repeat left top; padding-left:14px; width:500px; float:right; color:#4025D9;}
.entry{ float:left; }
.video img{ margin-right:15px; margin-left:0px;}
.video h1{ font-family: 'Give You Glory'; font-size:25px; color:#FFFFFF; text-align:center; margin-top:0px; font-weight:normal; margin-bottom:10px;}
.left{ width:680px; float:left;}
.video{}
.right{ width:315px; float:right; margin-top:10px;}
.sidebar h1{ background:url(../images/h-right.png) no-repeat right center; padding:5px 35px 5px 0px;  font-family: 'Give You Glory';; font-weight:lighter; font-size:16px; margin:0px; width:272px; text-transform:uppercase;}
.sidebar h1 span{background:url(../images/h-left.png) no-repeat left center; padding:5px 0px 5px 13px; color:#3f23d8;}
.text-widget{ background:url(../images/side-bg.png) repeat-y top center; padding:0px 8px 8px 8px;}
.text-widget p{ margin:0 0 10px;}
.text-widget a{ color:#3F23D8; line-height:32px;}
.text-widget a:hover{color:#303030;}
img{ border:none; margin:0px;}
.s-btm{ background:url(../images/s-btm.png) bottom center no-repeat; height:25px;}
.s-top{ background:url(../images/s-top.png) top center no-repeat; height:22px;}
.block2{ background:url(../images/m-center.png) repeat-y top center; padding-bottom:5px; min-height:45px; width:1039px;}
.recent{ float:left; width:100%; margin-top:5px;}
.recent h1{  font-family: 'Give You Glory'; font-weight:lighter; font-size:20px; text-transform:uppercase; margin:0px; padding-left:6px;}
.recent h1 span{color:#3f23d8;}
.recent a h1{color:#333333;}
#footer{ background: url(../images/ftr-bg.png) repeat-x bottom center; float:left; width:100%; height:111px; margin-top:15px;}
.footer{ width:1024px; margin:auto; padding-top:26px;}
.footer-menu{ text-align:center;}
.footer-menu ul{ margin:0px; padding:0px;}
.footer-menu ul li{ display:inline; list-style:none; color:#4025d9;}
.footer-menu ul li a{ font-size:12px; color:#4025d9; text-decoration:none; padding:0px 5px; border-right:1px solid #4025d9;}
.footer-menu ul li a:hover{ color:#030303;}
.footer-menu ul li a.last{ border:none;}
.copyright{ text-align:center;  font-size:12px; color:#4025d9; padding-top:16px;}
.site-info{ text-align:center; padding-top:20px; padding-bottom:5px;}
.site-info p{ color:#FFFFFF; margin:0px; font-size:12px;}
.site-info p a{ color:#FFFFFF; text-decoration:none;}
.site-info p a:hover{ color:#bbb;}
.menu ul li a.last{ background:none; padding-right:0px;}
.btn{ background:none; border:none; font-weight:bold; color:#373737; font-size:14px; text-transform:lowercase; cursor:pointer;}
.med{ cursor:pointer;}

/*======css for dropdown menu============*/
.menu a {
	display: block;
	/*width: 10em;*/
}

.menu li {
	float: left;
	/*width: 10em;*/
}

.menu li ul {
	position: absolute;
	width: 160px;
	padding:12px 0px 5px 5px;
	left: -999em;
	background-color:#e9b8ff;
	text-align:left;z-index:1002;
}

.menu li ul li{ font-weight:normal; margin-bottom:7px; line-height:15px; float:none; }
.menu li ul li a{ background:none; padding:6px 10px 6px 8px;}
.menu li:hover ul {
	margin-left: auto;
}

.menu li:hover ul, .menu li.sfhover ul {
	left: auto;}
	
	  .menu, .menu ul {
	list-style: none;
}

.menu a {
	display: block;
	/*width: 10em;*/
}

.menu li.last ul {
	position: absolute;
	width: 160px;
	padding:12px 0px 5px 5px;
	margin-left:-999em;
	background-color:#e9b8ff;
	text-align:left; margin-left:-54px; z-index:1002;
}



/*==============biogarphy page============*/
.content2{}
.left-area{ width:330px; float:left; margin-right:20px;}
.right-area{ width:670px; float:left; background:url(../images/right-div.png) no-repeat left top;}
.right-area1{ width:670px; float:left;}
.sidebar2{}
.sidebar2 h1{ background:url(../images/btn.png) no-repeat left center; margin:0px; font-size:14px; color:#4025D9; padding:12px 12px 12px 12px; text-align:left;font-family:arial; font-weight:bold;}
.sidebar2 ul li{ list-style:none; padding-left:20px; line-height:32px;}
.sidebar2 ul li a{ color:#4025D9; font-size:16px; text-decoration:none;}
.sidebar2 ul li a:hover{ font-weight:bold;}
.sidebar2 li li{ padding-left:10px; line-height:25px; font-size:14px;}
.sidebar2 li li a{ font-size:14px;}
.sidebar2 ul{ margin:0px; padding:0px;}
.sidebar-text{ background:url(../images/sub-menu.png) no-repeat top center; /*height:462px;*/ padding-top:15px; padding-left: 8px; padding-bottom:26px;}
.sidebar-text img{ padding-left:20px; padding-top:10px; padding-bottom:10px;}
.mail-mod1{ padding-left:15px; color:#4025D9; margin-top:20px;}
.mail-mod1 .btn{ color:#4025D9;}
.sidebar-text1{ margin-bottom:15px;}
.bread-crumbs{}
.bread-crumbs a{ color:#4025D9; text-decoration:none; font-size:14px; font-weight:bold;}
.bread-crumbs span{color:#1C1C1C; font-size:14px; font-weight:bold;}
.entry2{ background:url(../images/entry-bg.png) no-repeat top center; width:641px; padding-top:15px; margin-left:25px;}
.entry3{ background:url(../images/entry-bg3.png) no-repeat top center; width:641px; padding-top:15px; margin-bottom:10px;}
.entry4{ background:url(../images/entry-bg3.png) no-repeat top center; width:641px; padding-top:15px; margin-bottom:10px;}
.main-area{ /*background:url(../images/main-bg.png) repeat-y bottom center; width:100%;*/ padding:0px 15px; min-height:440px;}
.main-area h2{ color:#4025d9;font-family: 'Give You Glory'; margin-top:12px; font-size:23px; font-weight:normal;}
.main-area h5{ color:#4025d9; margin-top:25px; font-size:14px; font-weight:bold; margin-bottom:0px;}
.main-area h3{ color:#4025d9;font-family: 'Give You Glory'; margin-top:20px; font-size:23px; font-weight:normal; margin-bottom:5px;}
.main-area p{ margin-top:4px; margin-bottom:4px;}
.home{ background:url(../images/h-div.png) no-repeat bottom center; padding-bottom:5px;}
.main-area h3{ margin-bottom:0px;}
.upcoming-events{ background:url(../images/events.png) no-repeat top center; padding:10px; height:331px;color: #4025D9;}
.right-area1 h1{ background:url(../images/r-head.png) no-repeat left center; margin:0px; font-size:14px; color:#4025D9; padding:12px 12px 12px 10px; text-align:left; font-family:arial; font-weight:bold;}
.right-area1 h2{color:#4025d9;font-family: 'Give You Glory';  margin-top:12px; font-size:23px; font-weight:normal;}
.upcoming-events h3{ text-align:center; font-family: 'Give You Glory'; font-size:24px; font-weight:normal; margin-bottom:0px; margin-top:55px;}
.upcoming-events p{ text-align:center; font-size:16px; margin-top:0px;}
.main-area h4{ font-size:28px; color:#4025d9;font-family: 'Give You Glory'; margin:0px; font-weight:normal;}
.ctnt{ width:335px; float:left; text-align:center;}
.contact-form ul li{ padding-bottom:10px; list-style:none;}
.contact-form ul{ margin:0px; padding:0px;}
.click{ text-align:right; margin-bottom: 30px; margin-top: -50px;}
.click a{ font-style:italic; color:#4025d9;}
.click a:hover{ color:#030303;}
.twtr-widget .twtr-tweet{ border-bottom:1px dotted #333 !important;}
.twtr-widget em, .twtr-widget .twtr-new-results{ font-size:10px !important;}
#container2_wrapper #container2{ background:none !important;}
.contact-form ul li label{ width:50px;}
.pics{ margin:0px 8px 20px 8px;}


/*==============foundation page============*/

/* Columns */
.leftCol, .mainCol, .rightCol {	float: left; background: url(../images/entry-bg3.png) no-repeat top center;	padding: 15px;}
.leftCol	{	width: 228px;	margin-right: 15px;	}
.mainCol 	{	width: 448px;	margin-right: 15px;	}
.rightCol	{	width: 228px;	}

.block	{	margin-bottom: 10px;
		}
.block h3, .block h4	{	line-height: 1.2em;	}
.block h5	{	font-size: 1.2em; margin: 0 0 2px 0;	}
.mainCol ul, .leftCol ul, .rightCol ul {	padding: 0; list-style: none;	}
.mainCol ul li, .leftCol ul li, .rightCol ul li {	border-bottom: 1px solid rgba(0,0,0,0.2);
													padding-bottom: 5px;
													margin-bottom: 5px;
												}
.board-position	{	font-weight: bold; text-transform: uppercase; font-size: 0.9em; display: block;	}						
.sister-talk	{	background: rgba(255,255,255,0.5); padding: 20px; margin-top: 15px;	}
.sister-talk h3	{	font-size: 3.5em; margin: 0;	}


.conference-faq	{	padding-top: 15px;
					border-top: 1px solid rgba(0,0,0,0.2);	
				}
.conference-faq h3	{	margin: 0 0 10px;	}
.conference-faq p	{	margin: 0 0 5px 0;	}																			